.row
  .col.s12
    ul.collapsible(data-collapsible='accordion')
      li
        .collapsible-header
          i.fa.fa-bars
          | Cuenca
        .collapsible-body.white
          ul.collection
            li.collection-item.avatar
              img.circle(src='http://materializecss.com/images/yuna.jpg', alt='')
              span.title Cargo
              p
                | Nombre: Humberto
                br
                | Telefono: +4-555-555
            li.collection-item.avatar
              img.circle(src='http://materializecss.com/images/yuna.jpg', alt='')
              span.title Cargo
              p
                | Nombre: Humberto
                br
                | Telefono: +4-555-555
            li.collection-item.avatar
              img.circle(src='http://materializecss.com/images/yuna.jpg', alt='')
              span.title Cargo
              p
                | Nombre: Humberto
                br
                | Telefono: +4-555-555
            li.collection-item.avatar
              img.circle(src='http://materializecss.com/images/yuna.jpg', alt='')
              span.title Cargo
              p
                | Nombre: Humberto
                br
                | Telefono: +4-555-555
            li.collection-item.avatar
              img.circle(src='http://materializecss.com/images/yuna.jpg', alt='')
              span.title Cargo
              p
                | Nombre: Humberto
                br
                | Telefono: +4-555-555
      li
        .collapsible-header.red
          i.fa.fa-bars.white-text
          span.white-text Quito
        .collapsible-body.white
          ul.collection
            li.collection-item.avatar
              img.circle(src='https://upload.wikimedia.org/wikipedia/commons/c/c5/User-nohat-photo.jpg', alt='')
              span.title Cargo
              p
                | Nombre: Humberto
                br
                | Telefono: +4-555-555
            li.collection-item.avatar
              img.circle(src='https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR08abiDoqcd4PCBL-luCmkEO1IMzQ7RA6pV50NT88eEFLPqV4b', alt='')
              span.title Cargo
              p
                | Nombre: Humberto
                br
                | Telefono: +4-555-555
            li.collection-item.avatar
              img.circle(src='https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR_mzPNV3PqQsUknWYmsrFjQrYcI7_tKs5AXQkQPcRVOCrQf9Zq', alt='')
              span.title Cargo
              p
                | Nombre: Humberto
                br
                | Telefono: +4-555-555
            li.collection-item.avatar
              img.circle(src='http://materializecss.com/images/yuna.jpg', alt='')
              span.title Cargo
              p
                | Nombre: Humberto
                br
                | Telefono: +4-555-555
            li.collection-item.avatar
              img.circle(src='http://materializecss.com/images/yuna.jpg', alt='')
              span.title Cargo
              p
                | Nombre: Humberto
                br
                | Telefono: +4-555-555
      li
        .collapsible-header
          i.fa.fa-bars
          | Riobamba
        .collapsible-body.white
          ul.collection
            li.collection-item.avatar
              img.circle(src='http://materializecss.com/images/yuna.jpg', alt='')
              span.title Cargo
              p
                | Nombre: Humberto
                br
                | Telefono: +4-555-555
            li.collection-item.avatar
              img.circle(src='http://materializecss.com/images/yuna.jpg', alt='')
              span.title Cargo
              p
                | Nombre: Humberto
                br
                | Telefono: +4-555-555
            li.collection-item.avatar
              img.circle(src='http://materializecss.com/images/yuna.jpg', alt='')
              span.title Cargo
              p
                | Nombre: Humberto
                br
                | Telefono: +4-555-555
            li.collection-item.avatar
              img.circle(src='http://materializecss.com/images/yuna.jpg', alt='')
              span.title Cargo
              p
                | Nombre: Humberto
                br
                | Telefono: +4-555-555
            li.collection-item.avatar
              img.circle(src='http://materializecss.com/images/yuna.jpg', alt='')
              span.title Cargo
              p
                | Nombre: Humberto
                br
                | Telefono: +4-555-555
      li
        .collapsible-header.blue.active
          i.fa.fa-bars.white-text
          span.white-text Machala
        .collapsible-body.white
          .row
            .col.s12.m4.l3
              .card
                .card-image.waves-effect.waves-block.waves-light
                  img.activator(src='https://upload.wikimedia.org/wikipedia/commons/c/c5/User-nohat-photo.jpg')
                .card-content
                  span.card-title.activator.grey-text.text-darken-4
                    | Jorge Vargas
                    a.btn-floating.btn-large.waves-effect.waves-light.blue.right
                      i.fa.fa-arrow-up.right
                .card-reveal
                  span.card-title.grey-text.text-darken-4
                    | Jorge Vargas
                    i.fa.fa-close.right.grey-text
                  ul.collection
                    li.collection-item
                      i.fa.fa-phone.blue-text 
                      span Telefono
                    li.collection-item
                      i.fa.fa-map-marker.blue-text 
                      span Direccion
                    li.collection-item 
                      i.fa.fa-envelope.blue-text 
                      span Email 
            .col.s12.m4.l3
              .card
                .card-image.waves-effect.waves-block.waves-light
                  img.activator(src='https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR08abiDoqcd4PCBL-luCmkEO1IMzQ7RA6pV50NT88eEFLPqV4b')
                .card-content
                  span.card-title.activator.grey-text.text-darken-4
                    | Jorge Vargas
                    a.btn-floating.btn-large.waves-effect.waves-light.blue.right
                      i.fa.fa-arrow-up.right
                .card-reveal
                  span.card-title.grey-text.text-darken-4
                    | Jorge Vargas
                    i.fa.fa-close.right.grey-text
                  ul.collection
                    li.collection-item
                      i.fa.fa-phone.blue-text 
                      span Telefono
                    li.collection-item
                      i.fa.fa-map-marker.blue-text 
                      span Direccion
                    li.collection-item 
                      i.fa.fa-envelope.blue-text 
                      span Email
            .col.s12.m4.l3
              .card
                .card-image.waves-effect.waves-block.waves-light
                  img.activator(src='https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR_mzPNV3PqQsUknWYmsrFjQrYcI7_tKs5AXQkQPcRVOCrQf9Zq')
                .card-content
                  span.card-title.activator.grey-text.text-darken-4
                    | Jorge Vargas
                    a.btn-floating.btn-large.waves-effect.waves-light.blue.right
                      i.fa.fa-arrow-up.right
                .card-reveal
                  span.card-title.grey-text.text-darken-4
                    | Jorge Vargas
                    i.fa.fa-close.right.grey-text
                  ul.collection
                    li.collection-item
                      i.fa.fa-phone.blue-text 
                      span Telefono
                    li.collection-item
                      i.fa.fa-map-marker.blue-text 
                      span Direccion
                    li.collection-item 
                      i.fa.fa-envelope.blue-text 
                      span Email
            .col.s12.m4.l3
              .card
                .card-image.waves-effect.waves-block.waves-light
                  img.activator(src='https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSwcacQlOv4bfTz7tCJlVJp5gGjnv_fLAWoKj12R_FS1-iaIZQy')
                .card-content
                  span.card-title.activator.grey-text.text-darken-4
                    | Jorge Vargas
                    a.btn-floating.btn-large.waves-effect.waves-light.blue.right
                      i.fa.fa-arrow-up.right
                .card-reveal
                  span.card-title.grey-text.text-darken-4
                    | Jorge Vargas
                    i.fa.fa-close.right.grey-text
                  ul.collection
                    li.collection-item
                      i.fa.fa-phone.blue-text 
                      span Telefono
                    li.collection-item
                      i.fa.fa-map-marker.blue-text 
                      span Direccion
                    li.collection-item 
                      i.fa.fa-envelope.blue-text 
                      span Email                                                                                                                       
      li
        .collapsible-header
          i.fa.fa-bars
          | Manta
        .collapsible-body.white
          p Lorem ipsum dolor sit amet.
      li
        .collapsible-header
          i.fa.fa-bars
          | Cuenca
        .collapsible-body.white
          p Lorem ipsum dolor sit amet.
      li
        .collapsible-header
          i.fa.fa-bars 
          | Cuenca
        .collapsible-body.white
          p Lorem ipsum dolor sit amet.
      li
        .collapsible-header
          i.fa.fa-bars
          | Cuenca
        .collapsible-body.white
          p Lorem ipsum dolor sit amet.
      li
        .collapsible-header
          i.fa.fa-bars
          | Cuenca
        .collapsible-body.white
          p Lorem ipsum dolor sit amet.
      li
        .collapsible-header
          i.fa.fa-bars
          | Cuenca
        .collapsible-body.white
          p Lorem ipsum dolor sit amet.                                                         