doctype html
html(lang='es')
  head
    link(href='https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script', rel='stylesheet', type='text/css')
    script(src='https://use.fontawesome.com/90be6d7899.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
    link(rel='stylesheet', type='text/css', href='css/estilos.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    title Titulo de la pagina
  body.green.lighten-5
    // loader
    .loader_custom
      .preloader-wrapper.active
        .spinner-layer.spinner-red-only
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle
    // end loades
    #wrapper
      .fullscreen_edit
        // menu
        header.row.white.z-depth-1
          .col.s2.l1(style="height:100% !important;")
            h4.hide-on-small-only.hide-on-med-only.center-align
              a(href='#!')
                img(style="position: absolute; z-index: 20000000000000000000; left:10px;", class='responsive-img RES-IMG', src='http://nutri.com.ec/wp-content/uploads/2014/09/logo.png')
            a.col.s12.center-align.button-collapse.hide-on-large-only(style='padding-top:10px;font-size:25px;', href='#', data-activates='mobile-demo')
              i.blue-text.fa.fa-bars     
          .col.s10.l11
            .col.s12
              nav(style='background:none;box-shadow:none;border-bottom: 1px solid #e0e0e0;')
                .nav-wrapper
                  a.brand-logo.center.hide-on-large-only(href='#')
                   img(style='display:block; width:100px; margin-top:5px;', class='responsive-img', src='http://nutri.com.ec/wp-content/uploads/2014/09/logo.png')
                  ul#nav-mobile.left.hide-on-med-and-down
                    li
                      a.white-text(href='sass.html') Inicio
                    li
                      a.white-text(href='badges.html') Productos
                    li
                      a.white-text(href='collapsible.html') Distribuidores
                    li
                      a.white-text(href='collapsible.html') Trabaja con nosotros                  
                    li
                      a.white-text(href='collapsible.html') Contacto                                    
            .col.s12.hide-on-small-only.hide-on-med-only
              nav(style='background:none;box-shadow:none;')
                .nav-wrapper
                  ul#nav-mobile.left.hide-on-med-and-down
                    li
                      a.whit-text(href='sass.html') Lacteos San Antonio
                    li
                      a.whit-text(href='sass.html') ¿Quienes Somos? 
        // end menu
        // caousel
        .slider.fullscreen(style='touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
          .right_button.right
            a.btn.waves-effect.red.white-text button
            a.btn.waves-effect.blue.white-text button
            a.btn.waves-effect.gray.white-text button
          ul.slides
            li
              img(src='data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', style='background-image: url("https://images.unsplash.com/photo-1464817739973-0128fe77aaa1?dpr=1&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=");')
              // random image
              .caption.center-align(style='opacity: 0; transform: translateY(-100px) translateX(0px);')
                h3 Texto alineado al centro
                h5.light.grey-text.text-lighten-3 Aqui va un eslogan.
            li
              img(src='data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', style='background-image: url("https://ununsplash.imgix.net/photo-1414849424631-8b18529a81ca?q=75&fm=jpg&s=0e993004a2f3704e8f2ad5469315ccb7");')
              // random image
              .caption.left-align(style='opacity: 1; transform: translateX(0px) translateY(0px);')
                h3 Texto alineado a la izquierda
                h5.light.grey-text.text-lighten-3 Aqui va un eslogan.
            li
              img(src='data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', style='background-image: url("https://ununsplash.imgix.net/uploads/1413259835094dcdeb9d3/6e609595?q=75&fm=jpg&s=6a4fc66161293fc4a43a6ca6f073d1c5");')
              // random image
              .caption.right-align(style='opacity: 0; transform: translateX(100px) translateY(0px);')
                h3 Texto alineado a la derecha
                h5.light.grey-text.text-lighten-3 Aqui va un eslogan.
          // <ul class="indicators"><li class="indicator-item"></li><li class="indicator-item active"></li><li class="indicator-item"></li></ul>
      // end carousel
      // content
      .container
        .section
          .row
            .col.s12.m4.l4
              a(href='#')
                .card
                  .card-content.center-align
                    span.card-title.activator.grey-text.text-darken-4 Titulo
                  .card-image.waves-effect.waves-block.waves-light
                    img(src='http://materializecss.com/images/sample-1.jpg')
            .col.s12.m4.l4
              a(href='#')
                .card
                  .card-content.center-align
                    span.card-title.activator.grey-text.text-darken-4 Titulo
                  .card-image.waves-effect.waves-block.waves-light
                    img(src='http://materializecss.com/images/office.jpg')
            .col.s12.m4.l4
              a(href='#')
                .card
                  .card-content.center-align
                    span.card-title.activator.grey-text.text-darken-4 Titulo
                  .card-image.waves-effect.waves-block.waves-light
                    img(src='http://materializecss.com/images/sample-1.jpg')
      // end content
      // footer
    footer.page-footer.grey.darken-2
      .container
        .row
          .col.l4.s12
            h5.white-text Contacto
            p.grey-text.text-lighten-4 email@email.com
          .col.l4.s12
            h5.white-text Telefono
            p.grey-text.text-lighten-4 +44-555-55-55
          .col.l4.s12
            h5.white-text Dirección
            p.grey-text.text-lighten-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, est!
      .footer-copyright.grey.darken-3
        .container
          .row
            .col.s12.m8.l11
              | © 2016 Todos los derechos reservados
            .col.s12.m4.l1
              .row
                .col.s4
                  a(href='')
                    i.grey-text.fa.fa-facebook(aria-hidden='true')
                .col.s4
                  a(href='')
                    i.grey-text.fa.fa-twitter(aria-hidden='true')
                .col.s4
                  a(href='')
                    i.grey-text.fa.fa-instagram(aria-hidden='true')
    script(src='https://code.jquery.com/jquery-2.2.3.min.js', integrity='sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
    script(type='application/javascript', src='js/app.js')
