.parallax-container
  .parallax
    img(src='http://materializecss.com/images/parallax1.jpg')
.section.green.lighten-5
  .row.container
    h2.center-align.Titulo-principal.grey-text.text-darken-1 Quienes Somos
    p.grey-text.text-darken-3.lighten-3
      | Contenido par a la pagina de nosotros explicando detalles de la empresa
.parallax-container
  .parallax
    img(src='http://materializecss.com/images/parallax2.jpg')