.row
  .col.s12.m4.l3
    .card
      .card-image
        img.card-imgTop(src='http://materializecss.com/images/sample-1.jpg')
        img.card-imgBottom(src='http://demo.geekslabs.com/materialize/v3.1/images/img4.jpg')
      .card-content.Producto-content
        .row.Producto-content
          .col.s12
            p.card-title.grey-text.text-darken-4.Producto-title
              a.grey-text.text-darken-4(href="") Avena con chocolate <i class="fa fa-long-arrow-right blue-text" aria-hidden="true"></i>
  .col.s12.m4.l3
    .card
      .card-image
        img.card-imgTop(src='http://demo.geekslabs.com/materialize/v3.1/images/img4.jpg')
        img.card-imgBottom(src='http://materializecss.com/images/office.jpg')
      .card-content.Producto-content
        .row.Producto-content
          .col.s12
            p.card-title.grey-text.text-darken-4.Producto-title
              a.grey-text.text-darken-4(href="") Avena con chocolate <i class="fa fa-long-arrow-right blue-text" aria-hidden="true"></i>
  .col.s12.m4.l3
    .card
      .card-image
        img.card-imgTop(src='http://materializecss.com/images/office.jpg')
        img.card-imgBottom(src='http://materializecss.com/images/sample-1.jpg')
      .card-content.Producto-content
        .row.Producto-content
          .col.s12
            p.card-title.grey-text.text-darken-4.Producto-title
              a.grey-text.text-darken-4(href="") Avena con chocolate <i class="fa fa-long-arrow-right blue-text" aria-hidden="true"></i>
  .col.s12.m4.l3
    .card
      .card-image
        img.card-imgTop(src='http://materializecss.com/images/sample-1.jpg')
        img.card-imgBottom(src='http://demo.geekslabs.com/materialize/v3.1/images/img4.jpg')
      .card-content.Producto-content
        .row.Producto-content
          .col.s12
            p.card-title.grey-text.text-darken-4.Producto-title
              a.grey-text.text-darken-4(href="") Avena con chocolate <i class="fa fa-long-arrow-right blue-text" aria-hidden="true"></i>
  .col.s12.m4.l3
    .card
      .card-image
        img.card-imgTop(src='http://demo.geekslabs.com/materialize/v3.1/images/img4.jpg')
        img.card-imgBottom(src='http://materializecss.com/images/office.jpg')
      .card-content.Producto-content
        .row.Producto-content
          .col.s12
            p.card-title.grey-text.text-darken-4.Producto-title
              a.grey-text.text-darken-4(href="") Avena con chocolate <i class="fa fa-long-arrow-right blue-text" aria-hidden="true"></i>
  .col.s12.m4.l3
    .card
      .card-image
        img.card-imgTop(src='http://materializecss.com/images/office.jpg')
        img.card-imgBottom(src='http://materializecss.com/images/sample-1.jpg')
      .card-content.Producto-content
        .row.Producto-content
          .col.s12
            p.card-title.grey-text.text-darken-4.Producto-title
              a.grey-text.text-darken-4(href="") Avena con chocolate <i class="fa fa-long-arrow-right blue-text" aria-hidden="true"></i>