.Producto
  &-title
    margin 0
    font-size 14px !important
    font-weight 400  !important
    text-transform uppercase
  &-title a:hover
    color #2196F3 !important
  &-content
    padding 0 !important
    margin 0 !important
.card-imgBottom
  position absolute !important
  top 0
  left 0  
.card-imgBottom:hover
  backgroun red
  opacity 0 !important  
.card-image  img 
  -webkit-transition opacity 0.5s ease-in-out !important
  -moz-transition opacity 0.5s ease-in-out !important
  -o-transition opacity 0.5s ease-in-out !important
  transition opacity 0.5s ease-in-out !important
.collection-item
  font-size 16px !important
  > i
    margin-right 5px
    width 25px
    text-align center 
.Img-Content
  > img
    width 100%
.Trabaja
  > div
    padding 30px !important

.input-field label
  color #000
 
.input-field input[type=text]:focus + label
  color #2196F3
   
.input-field input[type=text]:focus
  border-bottom 1px solid #2196F3
  box-shadow 0 1px 0 0 #2196F3
 
.input-field input[type=text].valid
  border-bottom 1px solid #2196F3
  box-shadow 0 1px 0 0 #2196F3

.input-field input[type=text].invalid 
  border-bottom 1px solid red
  box-shadow 0 1px 0 0 red






.input-field input[type=email]:focus + label
  color #2196F3
   
.input-field input[type=email]:focus
  border-bottom 1px solid #2196F3
  box-shadow 0 1px 0 0 #2196F3
 
.input-field input[type=email].valid
  border-bottom 1px solid #2196F3
  box-shadow 0 1px 0 0 #2196F3

.input-field input[type=email].invalid 
  border-bottom 1px solid red
  box-shadow 0 1px 0 0 red
  


.input-field textarea[type=textarea]:focus + label
  color #2196F3 !important
   
.input-field textarea[type=textarea]:focus
  border-bottom 1px solid #2196F3 !important
  box-shadow 0 1px 0 0 #2196F3 !important
 
.input-field textarea[type=textarea].valid
  border-bottom 1px solid #2196F3 !important
  box-shadow 0 1px 0 0 #2196F3 !important

.input-field textarea[type=textarea].invalid 
  border-bottom 1px solid red !important
  box-shadow 0 1px 0 0 red !important



.input-field .prefix.active
  color #000

.Titulo-principal
  font-weight 300 !important 

#map 
  height 200px

.Login-page
  display flex
  margin 0
  padding 0
  align-items center
  justify-content center
  height 100vh
  flex-direction column
  background url("https://d3nn82uaxijpm6.cloudfront.net/assets/website/backgrounds/running-01-0eb574bb8d64cacb6be69f5e18562a5c.jpg") !important
.Login-content
  min-width 300px 
  max-width 40 0px 
  
/*** los estilos de Xavier ***/
.loader_custom{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.preloader-wrapper {
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 40vh;
    left: 44vw;
}

.nav-wrapper{
  z-index: 10000;
  position: relative;

}

.RES-IMG {
  z-index:20000;
}

.fullscreen_edit{
      position: relative;
    height: 100vh;
}

.right_button{
  margin-top: 30vh;
}
.right_button .btn{
  display: block;
  margin: 30px;
  z-index: 100;
}

.right_button .btn:hover{
  transform: scale(0.95);
}

.card{
  transition: all .5s;
}
.card:hover{
  transform: scale(0.95);
}

footer .redes a{
  color: white;
  font-size: 1.4rem;
  padding: 10px;
  transition: all .3s;
}
footer .redes a:hover{
  color: gray;
  font-weight: bold;

}
.Login-mas {
  .Login-page {
    background-size cover !important
    background-size cover !important
    background-repeat no-repeat !important
    background-position center !important    
  }
}
/*

.card-image
  position relative !important
  
.card-image  img 
  position absolute !important
  left 0
  -webkit-transition opacity 1s ease-in-out !important
  -moz-transition opacity 1s ease-in-out !important
  -o-transition opacity 1s ease-in-out !important
  transition opacity 1s ease-in-out !important

.card-image img.top:hover
  opacity 0 !important

